 @model Web.Models.AppointeeViewModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Appointee</title>
</head>
<body>
     @using (Html.BeginForm("DelAppointee", "Home", FormMethod.Post))
     {
        <div>
            @foreach (Apt.Core.Domain.Appointments.Appointee aptee in Model.lstAppointee)
            {
                <div>@aptee.FirstName @aptee.LastName  @Html.ActionLink("Delete", "DelAppointee", "Home", new { ID = aptee.ApteeID }, null)  </div>
                <br />
            }
        </div>
     }

     <div>
        @using (Html.BeginForm())
        {
        <div>
        Add new Appointee: <br />
        First Name:  @Html.TextBoxFor(m => m.FirstName) <br />
        Last Name: @Html.TextBoxFor(m => m.LastName) <br />

        <input type="submit" value="Submit" />
        </div>
            
        }
    </div>

</body>
</html>
